.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main-bg{
  height: 200px;
  background-image : url("./assets/teacup.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100%;
  width: 100%;
  background-position: left;
  text-align: center;
  style: #0d0101;
}
/* 
.pic_header{
  background-image: url(./assets/uni.jpeg);
  object-position: left;
} */

/* Centered text */
.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /*display: flex;
  flex-direction: column;*/
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}